.button
    background white
    color $ColorDark
    padding 2rem
    font-size 1.5rem
    font-weight 700
    box-sizing border-box
    width 80%
    border none
    box-shadow none
    margin 0.5rem
    
    

@media all and (min-width 768px)
    .button
        width 35%
    