<!DOCTYPE html>
html(lang="es")
head
    title Boilerplate
    
    //- Styles
    link(rel="stylesheet", href="css/styles.css")

    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0")
    
body
    header(class="header")
    	include ./header/header.jade

    