<!DOCTYPE html>
html(lang="es")
head
    title API Notification
    
    //- Styles
    link(rel="stylesheet", href="css/styles.css")

    //- Google Fonts
    link(href='https://fonts.googleapis.com/css?family=Raleway:700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,300,700', rel='stylesheet', type='text/css')

    //- Font Awesome
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")


    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0")
    
body
    header(class="header")
        include ./header/header.jade

    section(class="demo wrap-center")
        include ./demo/demo.jade

    footer(class="footer")
        include ./footer/footer.jade


    script(src="js/demo.js")