div(class="footer__buttons")
    a(href="http://caniuse.com/#feat=notifications", target="blank" class="btn") 
        <i class="fa fa-code"></i> Soporte Actual
    a(href="https://github.com/FiliMX/API-notification", class="btn") 
        <i class="fa fa-code-fork"></i> Fork


div(class="footer__social")
    h2(class="footer__title") Fili Santillán
    ul(class="footer__list")
        li(class="footer__item")
            a(href="http://codepen.io/FiliMX/", target="blank", class="footer__icon fa fa-codepen")

        li(class="footer__item")
            a(href="https://github.com/FiliMX", target="blank", class="footer__icon fa fa-github-alt")

        li(class="footer__item")
            a(href="https://www.facebook.com/FiliSantillanMX", target="blank", class="footer__icon fa fa-facebook")

        li(class="footer__item")
            a(href="https://twitter.com/FiliMX", target="blank", class="footer__icon fa fa-twitter")
        
        li(class="footer__item")
            a(href="https://www.instagram.com/filimx/", target="blank", class="footer__icon fa fa-instagram")

        li(class="footer__item")
            a(href="https://plus.google.com/+filimartinezz", target="blank", class="footer__icon fa fa-google-plus")

        li(class="footer__item")
            a(href="https://mx.linkedin.com/in/filisantillan", target="blank", class="footer__icon fa fa-linkedin")