button(class="button btn", id="buttonP") Dar Permisos

button(class="button btn", id="buttonN") Lanzar notificación

p(class="warning") La API de notificación aún no es soportada por todos los navegadores.