figure(class="header__logo")
    img(src="./images/logo.png", alt="Fili Santillán Logo")

h1(class="header__title") API Notification

a(href="http://filisantillan.com/notificaciones-web-html5/", class="btn") <i class="fa fa-code"></i> Ver artículo